.test {
    width: 50%;
    margin: auto;
}

button {
    padding: 10px;
    width: fit-content;
    text-align: center;
    background: #000;
    color: #fff;
    margin-left: 108px;
    border: 1px solid;
    font-size: 20px;
    border-radius: 1em;
    cursor: pointer;
}

input,
select {
    padding: 7px;
    border-radius: 1em;
    border: 1px solid #cddc39;
    box-shadow: -1px 7px 28px rgb(0 0 0 / 25%), 5px 3px 10px rgb(0 0 0 / 22%);
    color: #fff;
    background: #000;
}

.result {
    border: 1px solid #000;
    display: block;
    margin: 20px auto;
    width: 51%;
    border-radius: 1em;
    padding: 20px;
}


/*  */

.task-title {
    width: 155px;
    display: block;
    margin: 20px auto;
    font-size: 12pt;
    font-weight: bold;
    border-bottom: 7px solid #2b5464;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-top: 7px solid #247cff;
    text-align: center;
    align-items: center;
}


/*  */